html {
	background-color: rgb(239, 170, 85);
}
body {
	font-size: 100%;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #333;
	width: 800px;
	background-color: #FFF;
	margin: 20px auto;
	padding: 2em 2em 4em 2em;
	border-radius: 5px;
}

header {
	display : flex ; 
	align-items: center ;
}


h1 {
	color: #ed3211 ;
	font-family: cursive;
	text-align: left;
	margin-top: 0;
	width: 250px;
	height: 50px;
	
}
#order{
	text-align: center;
}

h2 {
	color: #C88039;
}

h3 {
	color: blue;
}


fieldset {
	border: 1px solid #AAA;
	margin: 1em 0;
}
legend {
	font-size: 85%;
	text-transform: uppercase;
	color: #AAA;
}
fieldset div {
	margin-bottom: 0.5em;
}
div label {
	display: block;
	width: 200px;
	float: left;
	text-align: right;
	padding-right: 1em;
}



small {
	font-size: 70%;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left; 
    border-bottom: 1px solid black;
}

th {
    background-color: #f2f2f2;
}


.topnav {
	background-color: #333;
	overflow: hidden;
	display: flex;
	justify-content: center;
	  
	}
	
  
	.topnav a {
	  float: left;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
	}
	
  
	.topnav a:hover {
	  background-color: #ddd;
	  color: black;
	}
	
  
	.topnav a.active {
	  background-color: rgb(239, 170, 85);
	  color: white;
	}
  
  
  .topnav input[type=text] {
	  float: right;
	  padding: 6px;
	  border: none;
	  margin-top: 8px;
	  margin-right: 16px;
	  font-size: 17px;
	}